<h2>Features</h2>
<div class="features-grid">
  <article class="feature">
    <div class="logo">
      <img src="url:./assets/posthtml-logo.svg" alt="PostHTML" />
    </div>
    <h3>HTML5 partials with posthtml&#8209;include</h3>
    <p>
      Split your HTML pages into smaller, more manageable files with
      <a
        href="https://v2.parceljs.org/languages/html/#posthtml"
        target="_blank"
        rel="noopener noreferrer"
        >PostHTML's Include plugin for Parcel</a
      >.
    </p>
    <h4>Usage</h4>
    <pre><code class="language-html">
&lt;!-- index.html --&gt;
&lt;html&gt;
  &lt;head&gt;
      &lt;title&gt;index.html&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
      &lt;include src="partials/header.html" locals='{
        "title": "Hello World"
      }'&gt;&lt;/include&gt;
  &lt;/body&gt;
&lt;/html&gt;
  </code></pre>
    <pre><code class="language-html">
&lt;!-- partials/header.html --&gt;
&lt;header&gt;
  &lt;h1&gt;{{ title }}&lt;/h1&gt;
&lt;/header&gt;
    </code></pre>
  </article>
  <article class="feature">
    <div class="logo">
      <img src="url:./assets/es6-logo.svg" alt="JavaScript ES6" />
    </div>
    <h3>Modern ES6 JavaScript</h3>
    <p>
      Use modern JavaScript syntax and features like ES6 imports without the
      need for additional configuration.
    </p>
    <h4>Usage</h4>
    <pre><code class="language-js">
// index.js
import helloWorld from "./scripts/helloWorld";

helloWorld();
  </code></pre>
    <pre><code class="language-js">
// scripts/helloWorld.js

const helloWorld = () => {
  console.log("Hello world 👋");
};

export default helloWorld;
  </code></pre>
  </article>
  <article class="feature">
    <div class="logo">
      <img src="url:./assets/sass-logo.svg" alt="SASS" />
    </div>
    <h3>SASS</h3>
    <p>
      Use the CSS pre-processor SASS to split your CSS into separate files and
      use other features like
      <a
        href="https://sass-lang.com/documentation/variables"
        target="_blank"
        rel="noopener noreferrer"
        >variables</a
      >
      and
      <a
        href="https://sass-lang.com/documentation/at-rules/mixin"
        target="_blank"
        rel="noopener noreferrer"
        >mixins</a
      >. Check out the
      <a
        href="https://v2.parceljs.org/"
        target="_blank"
        rel="noopener noreferrer"
        >Parcel docs</a
      >
      if you're interested in using another pre- or post-processor such as
      PostCSS, LESS, or Stylus. Or, have a look at
      <a
        href="https://parcel-html-css-js-starter-template.netlify.app/"
        target="_blank"
        rel="noopener noreferrer"
        >this same starter template using vanilla CSS</a
      >
      if you'd prefer.
    </p>
    <pre><code class="language-scss">
// styles.scss
$link-color: #ff526f;
$link-darkened-color: #ad001d;

a {
  color: $link-color;

  &:hover {
    color: $link-darkened-color;
  }
}
        </code></pre>
  </article>
</div>
