<main class="wrapper">
  <header class="header section">
    <div class="container">
      <include
        src="partials/header.html"
        locals='{ "title": "HTML, SASS, and JavaScript Starter Template"}'
      ></include>
    </div>
  </header>
  <section class="features section">
    <div class="container">
      <include src="partials/features.html"></include>
    </div>
  </section>
  <section class="parcel section">
    <div class="container">
      <include src="partials/parcel.html"></include>
    </div>
  </section>
  <footer class="footer section">
    <div class="container">
      <include src="partials/footer.html"></include>
    </div>
  </footer>
</main>
