<h2>What is Parcel? 📦</h2>
<p>
  Parcel is a web application bundler with a low-configuration approach. With
  fast bundle times, hot module replacement and automatic code transforms,
  Parcel handles everything out-of-the-box so developers can focus on their
  application code.
</p>
<p>
  For more reading check out the
  <a href="https://parceljs.org/" target="_blank" rel="noopener noreferrer"
    >offical Parcel website</a
  >, or
  <a
    href="https://dev.to/aileenr/blazing-fast-frontend-development-with-parcel-21dc"
    target="_blank"
    rel="noopener noreferrer"
    >my article on Dev.to</a
  >
  which walks through building a landing page with Parcel.
</p>
